@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @layer base {
    /* https://github.com/saadeghi/daisyui/pull/2956#issuecomment-2043840868 */
    :root:has(
        :is(
            .modal-open,
            .modal:target,
            .modal-toggle:checked + .modal,
            .modal[open]
          )
      ) {
      scrollbar-gutter: revert !important;
    }

    html {
      font-family: "Montserrat", system-ui, sans-serif;
      font-size: 100%;
      font-weight: 300;
      line-height: 1.5;
    }

    .menu-horizontal > li:not(.menu-title) > details > ul.mt-0 {
      margin-top: 0rem;
    }
  }
}
