@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @layer base {
    html {
      font-family: "Montserrat", system-ui, sans-serif;
      font-size: 100%;
      font-weight: 300;
      line-height: 1.5;
    }

    .menu-horizontal > li:not(.menu-title) > details > ul.mt-0 {
      margin-top: 0rem;
    }
  }
}
