@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @layer base {
    html {
      font-family: "Montserrat", system-ui, sans-serif;
      font-size: 100%;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  .round-card {
    @apply p-4 dark:bg-stone-800 rounded-xl;
  }

  .loading > #button-label > .icon {
    @apply opacity-0;
  }

  a {
    @apply text-blue-500 hover:text-blue-400;
  }
}
