{% extends "partials/base.html" %}

{% block head %}
<script src="https://unpkg.com/@simplewebauthn/browser@8.3.4/dist/bundle/index.umd.min.js"
    integrity="sha512-+I17Kl5iNTYLuY6NfhLXnTYmEV5W3X8qvIle14hZcxKeMoRM6JIXpGIVAUcKcBX0qrklChOhOgACJm8qJqZqSw==" crossorigin="anonymous"></script>
<script src="/static/js/authentication.js"></script>
{% endblock %}

{% block content %}
<div class="absolute flex items-center inset-0 max-w-full">
    <div class="round-card flex flex-col max-w-lg w-full mx-auto">
        <label class="font-semibold" for="username">Username</label>
        <input class="p-2 mt-1 bg-stone-900 border border-stone-500 rounded-md" type="text" id="username" name="username" autocapitalize="none" autocomplete="webauthn username">
        <p id="error-label" class="support text-red-500"></p>
        <p id="info-label" class='text-center card p-2 mt-4 hidden ~positive @high'>Login successful</p>
        <button id="login-button" class="mt-4 button button-xl ~info @high">
            <div id="login-button-label" class="flex items-center">
                {% include "partials/passkey-icon.html" %}
                <span class="ml-2 font-semibold">Login with Passkey</span>
            </div>
        </button>
    </div>
</div>
{% endblock %}
